# Entorno virtual
.venv/
venv/
env/

# Archivos de caché
__pycache__/
*.pyc

# Archivos de base de datos
db.sqlite3

# Archivos de configuración de IDEs
.vscode/
.idea/

# Archivos temporales
*.log
*.pot
*.py[co]
